/* payments.css */
.payments {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .payments-title {
    font-family: 'Jura', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    color: #050B3D;
    margin-bottom: 2rem;
  }
  
  .payment-controls {
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
    align-items: center;
  }
  
  .payment-search-input {
    padding: 0.8rem 1rem;
    border: 2px solid #050B3D;
    border-radius: 0.5rem;
    font-family: 'Jura', sans-serif;
    font-size: 1rem;
    background-color: transparent;
    color: #050B3D;
    width: 300px;
  }
  
  .search-button {
    padding: 0.8rem 1rem;
    background-color: #050B3D;
    color: #D9D9D9;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search-button:hover {
    background-color: #3949AB;
  }
  
  .payments-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #FFFFFF;
    color: #050B3D;
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .payments-table th,
  .payments-table td {
    padding: 1rem;
    text-align: center;
    font-family: 'Jura', sans-serif;
    border-bottom: 1px solid #ccc;
  }
  
  .payments-table th {
    background-color: #050B3D;
    color: #D9D9D9;
    font-size: 1rem;
    font-weight: 600;
  }
  
  .payments-table td {
    background-color: #F3F4F6;
  }
  